*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.gz
*.toc
*.run.xml
*.synctex(busy)
*.bcf
*.xlsx
Delemeester and Neral_book_Classroom Experiments.pdf
Bergström and Miller_sample chapter.pdf
Bergström and Miller_instructor's manual.pdf
Notas TP1 (Grupo 1).pdf
Notas TP1 (Grupo 2).pdf
